# Laravel specific
/vendor
/node_modules
/public/storage
/storage/*.key
/.idea
/.vscode
Homestead.yaml
Homestead.json
npm-debug.log
yarn-error.log
.env
.env.*
.phpunit.result.cache

# Composer
composer.lock

# Laravel mix
/public/hot
/public/mix-manifest.json

# Database exports
*.sql
*.sqlite

# OS / IDE junk
.DS_Store
Thumbs.db
*.swp
*.swo
*.bak
*.tmp
*.log

# Cache
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/bootstrap/cache/*
